h1 {
      font-family: arial Rounded MT Bold ;
      
      color: #ffffff;
      text-align: center;
      font-size: 24px; 
      
}
#header {
      padding:20px;
}

h2 { 
      font-family: arial;
      color:#000000;
      text-align: center;
      font-size: 12px; 
}

h3{ 
      font-family: arial;
      color: #082b64;
      text-align: center;
      font-size: 16px;
}

h4 {
      font-family: Georgia;
      color: #5b0311;
      font-size: 48px;
}

h5 {
      font-family: arial;
      color: #082b64;
}
p a {
      text-decoration: none;
}


/*#portfolio{ 
            margin-left: 4000px;
            position: fixed;
}*/
.footer{
      display:block;
      clear: both;
}
