h1 {
      font-family: arial Rounded MT Bold ;
      background-color: #000000;
      color: #ffffff;
      text-align: center;
      font-size: 24px; 
      height: 100px;
      width:1000px;
}

h2 { 
      font-family: arial;
      color:#000000;
      text-align: center;
      font-size: 12px; 
}

h3{ 
      font-family: arial;
      color: #082b64;
      text-align: center;
      font-size: 12px;
}

h4 {
      font-family: Georgia;
      color: #5b0311;
      font-size: 48px;
}

p{
      text-align: right;
}
