h1 {
      font-family: arial Rounded MT Bold ;
      
      color: #ffffff;
      text-align: center;
      font-size: 24px; 
      
}
#header {
      padding:20px;
}

h2 { 
      font-family: arial;
      color:#000000;
      text-align: center;
      font-size: 12px; 
}

h3{ 
      font-family: arial;
      color: #082b64;
      text-align: center;
      font-size: 16px;
}

h4 {
      font-family: Georgia;
      color: #5b0311;
      font-size: 48px;
}

h5 {
      font-family: arial;
      color: #082b64;
}
p a {
      text-decoration: none;
      color:#000000;
      
}
a:visited {color:#000000;}  /* visited link */
a:hover {color:#000000;}  /* mouse over link */
a:active {color:#000000;}  /* selected link */

.introduce{
      display:inline-block;
  margin-left:50px;
}


.resume{
  display:inline-block;
      float:right;
  margin-right:200px;
}

.portfolio{
      display:inline-block;
  float:left;
  margin-top:50px;
  margin-left:200px;
}

.contact{
  display:inline-block;
      float:right;
  margin-top:50px;
  margin-right:50px;
}

#welcome{
    font-size:24px;
}

#introduction{ 
      float:right;
      color: #082b64;
     margin-right:200px;
}

#ducks{
      margin-top: 200px;
}
/*#portfolio{ 
            margin-left: 4000px;
            position: fixed;
}*/
.footer{
      display:block;
      clear: both;
}
